    <!--Hero Section-->
    <section class="hero is-success is-halfheight">
      <div class="hero-body">
        <div class="">
          <h2 class="title is-1">Smart Homie</h2>
          <p class="subtitle">{{ subtitle }}</p>
          <p class="notification is-warning">
            Please log-in to see your grades.
          </p>
        </div>
      </div>
    </section>