<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Signup & Login</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link rel="stylesheet" href="./assets/style.css" />
  </head>

<body>
    <div>
        <form>
            <div class="box">
                <div>
                    <h1>Login here</h1>

                    <div> 
                        <label for="email-login">email:</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="e.g. alex@example.com">
                          </div>
                    </div>
                </div>
    
                <div>
                    <div>
                        <label for="password-login">password:</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="********">
                          </div>
                    </div>
                </div>
    
                <div>
                    <div>
                        <a href="/userdashboard.html" type="submit" class="button">login</a>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div>
        <form>
            <div class="box">
                <div>
                    <h1>Signup here</h1>

                    <div>
                        <label for="username-signup">username:</label>
                        <div class="control">
                            <input class="input" type="username" placeholder="e.g. alex234">
                          </div>
                    </div>
            
    
                    <div>
                        <label for="email-signup">email:</label>
                        <div class="control">
                            <input class="input" type="email" placeholder="e.g. alex@example.com">
                          </div>
                    </div>
    
                    <div>
                        <label for="password-signup">password:</label>
                        <div class="control">
                            <input class="input" type="password" placeholder="********">
                          </div>
                    </div>
    
                    <div>
                        <a href="/userdashboard.html" type="submit" class="button">signup</a>
                    </div>
                </div>
        </form>
    </div>
    
    <div>
        <form class="box">
            <h1>Log out here</h1>

            <div>
                <a href="/index.html" type="submit" class="button">Log out</a>
            </div>
        </form>
    </div>
</body>
</html>