    <!--Hero Section-->
    <section class="hero is-success is-halfheight">
      <div class="hero-body has-background-info-dark">
        <h2 class="title is-1">{{ title }}</h2>
      </div>
      <div class="tile is-flex-shrink-1">
        <p class="content is-large mx-6 my-6">
          A virtual homeschool homeroom where it's easy to plan and track your
          learner's progress.
        </p>
        <figure class="image is-6by2">
          <img src="./assets/images/robot books-1.jpg" />
        </figure>
      </div>
    </section>

    <!--Box Section-->
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <h3 class="title is-3">Come Hang With Us!</h3>

          <p>
            Are you a homeschooling parent who dreams of spending less time
            planning and tracking assignments, and checking your learner's
            progress against state standards? The Smart Homies have got your
            back sign up with us and have access to everything you in all in one
            place!
          </p>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child box">
          <h3 class="title is-3">Curiosity Corner</h3>
          <div class="column">
          <a
            href="https://www.montereybayaquarium.org/animals/live-cams"
            target="_blank"
          >
            <img class="image is-175x128" id="monterey" src="./assets/images/kelp forest.webp" />
          </a>
          </div>
          <div class="column">
          <a
          href="https://poets.org/poem-a-day?gclid=Cj0KCQjw166aBhDEARIsAMEyZh4T-dSMWHDycmM9PCExl3cG087YxpjfyQT5CMwMydUpyZhRhk0snYsaAv9HEALw_wcB"
          target="_blank"
          >
            <img class="image is-175x128" id="poem" src="assets/images/poetry.jpg" />
          </a>
          </div>
          <p>
            <button id="random-word-button">Click for a New Word</button>
          </p>
        </article>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child box">
          <h3 class="title is-3">Other Helpful Places</h3>
          <div class="content">
            <p>
              <a href="https://www.cde.ca.gov/be/st/ss/">CA State Standards</a>
            </p>
            <p>
              <a href="https://www.californiahomeschool.net/"
                >California Homeschool Resource</a
              >
            </p>
            <p>
              <a href="https://www.cde.ca.gov/ds/si/cs/ap1/imagemap.aspx"
                >California Charter Schools List</a
              >
            </p>
          </div>
        </article>
      </div>
    </div>