    <!--Hero Section-->
    <section class="hero is-success is-halfheight">
      <div class="hero-body">
        <div class="">
          <h2 class="title is-1">Smart Homie</h2>
          <p>{{ message }}</p>
        </div>
      </div>
    </section>