    <!--Hero Section-->
    <section class="hero is-success is-halfheight">
      <div class="hero-body">
        <div>
          <h2 class="title is-1">Smart Homie</h2>
          <p class="subtitle">Welcome to your user Dashboard!</p>
        </div>
        <!--Homie Hangout Section-->
        <div class="container is-max-desktop">
          <div class="notification is-info">
            <h3 class="title is-3">Homie Hangout</h3>
            <p>Be the first to start a discussion with other homies!</p>
            <div class="control">
              <textarea
                class="textarea has-fixed-size"
                placeholder="Comment here"
              ></textarea>
            </div>
            <div class="control">
              <button class="button is-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--Box Section-->
    <div class="tile is-ancestor">
      <div class="tile is-parent">
        <article class="tile is-child box">
          <h3 class="title is-3">Make a Plan:</h3>
          <form id="make-a-plan-form">
            <label>What is your goal for today?</label>
            <input type="text" id="goal" />
            <br />
            <label>What assignment are you working on?</label>
            <input type="text" id="assignment-name" />
            <br />
            <label>Subject</label>
            <select id="subject">
              <option value="English-language-arts">
                English/Language Arts
              </option>
              <option value="Math">Math</option>
              <option value="Science">Science</option>
              <option value="History-social-Science">
                History/Social Science
              </option>
              <option value="Physical-Education">Physical Education</option>
              <option value="Art">Art</option>
              <option value="Music">Music</option>
            </select>
            <br />
            <label>Grade Level</label>
            <select id="grade">
              <option value="K">K</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
              <option value="11">11</option>
              <option value="12">12</option>
            </select>
            <br />
            <label>What standard does this assignment meet?</label>
            <input type="text" id="standard" />
            <br />
            <input type="submit" />
          </form>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child box">
          <h3 class="title is-3">You're Working On:</h3>
          <p class="subtitle">A list of assignments will show here.</p>
          <button>Click Here when you Finish this Assignment</button>
        </article>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child box">
          <h3 class="title is-3">Look What You've Accomplished!</h3>
          <div class="content">
            <p>List of finished assignments will show here.</p>
          </div>
        </article>
      </div>
    </div>