:root {
  --primary-color: ;
  --secondary-color: ;
  --tertiary-color: ;


body {
  color: #414141;
}

#hangout {
  color: #414141;
  background-color: #d1eeee;
}

.notification {
  color: #414141;
}


