body {
  color: #414141;
}

#hangout {
  color: #414141;
  background-color: #d1eeee;
}

.notification {
  color: #414141;
}
<<<<<<< HEAD
h1 {
  color: #a1a468;
}
=======


>>>>>>> 9e75de41a4cac9b8b278086806ff219a1b96087c
